body{  
    background: url("../static/third_1/bg.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.content{
    position: relative;
}
.content-all{
    width: 100%;
    height: 100%;
    position: relative;
}
.head{
    height: 1.18rem;/*218*/
    width: 21.6rem;
    margin: 0;
    padding:  0; 
    position: relative;

}
.head .title{
    font-size: 0rem;
    color: #0075a9;
    background: url('../static/third_1/top.png') no-repeat;
    background-size: 100% 100%;
    height: 1.18rem;
    width: 8.2rem;
    text-align: center;
    margin: 0 auto;
}
.head .back{   
    cursor:pointer;
    position: absolute;
    left: 1.22rem;
    top: 0.09rem;
    height: 0.82rem;
    line-height: 0.82rem;
    width: 1.8rem;
}
.head .back-img{
    display: inline-block;
    background: url("../static/second/backbutton_normal.png") no-repeat;
    background-size: 100% 100%;
    width: 0.79rem;
    height: 0.79rem;
}
.head .back-text,.head .close-text{
    display: inline-block;
    color: #66d5ff;
    font-size: 0.32rem;
    font-weight: bold;
}
.head .back-text{ 
    margin-left: 0.12rem;
}
.head .close{
    cursor:pointer;
    position: absolute;
    right: 1.22rem;
    top: 0.09rem;
    height: 0.82rem;
    line-height: 0.82rem;
    width: 1.8rem;
}
.head .close-img{
    display: inline-block;
    background: url("../static/second/closebutton_normal.png") no-repeat;
    background-size: 100% 100%;
    width: 0.78rem;
    height: 0.82rem;
}
.head .close-text{
    margin-right: 0.12rem;
}
.middle{
    color:#ffffff;
    font-size: 0.22rem;
    background: url("../static/fourth_1/bg_popup.png") no-repeat;
    background-size: 100% 100%; 
    width: 19.42rem;
    height: 11.67rem;
    position: absolute;
    top: 1.3rem;
    left: 1.08rem;
}
.middle-long{
    color:#ffffff;
    font-size: 0.22rem;
    background: url("../static/fourth_1/bg_long_1.png") no-repeat;
    background-size: 100% 100%; 
    width: 19.42rem;
    height: 11.67rem;
    position: absolute;
    top: 1.3rem;
    left: 1.08rem;
}
.m-head{
    position: relative;
    width: 100%;
    height: 1.3rem;
}
.m-title{
    position: absolute;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.85rem;
    height: 0.85rem;
    width: 5.15rem;
    left: 1.9rem;
    top: 0.3rem;
}
.m-title-long{
    position: absolute;
    font-size: 0.36rem;
    text-align: center;
    line-height: 0.85rem;
    height: 0.85rem;
    width: 11.15rem;
    left: 1.9rem;
    top: 0.3rem;
}
.icon{
    position: absolute;
    height: 0.85rem;
    width: 2.55rem;
    right: 0.47rem;
    top: 0.3rem;
}
.icon > div{
    float: left;
}
.icon-b-l{
    background: url("../static/fourth_1/green_light.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: none;
}
.icon-y-l{
    background: url("../static/fourth_1/yellow_light.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: inline-block;
}
.icon-r-l{
    background: url("../static/fourth_1/red_light.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: inline-block;
}
.icon-b-b{
    background: url("../static/fourth_1/green_light_activation.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: inline-block;
}
.icon-y-b{
    background: url("../static/fourth_1/yellow_light_activation.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: none;
}
.icon-r-b{
    background: url("../static/fourth_1/red_light_activation.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: none;
}
.m-content{
    position: relative;
    width: 100%;
    height: 10rem;
    float: left;
}
.title-big-long{
    background: url("../static/fourth_1/title_bg_long.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 3.66rem;
    height: 0.42rem;
    left: 0rem;
    top: -0.26rem;
    line-height: 0.42rem;
    z-index: 1;
}
.title-big-long>div{
    width:2.86rem;
    text-align: center; 
}
.title-big-short{
    background: url("../static/fourth_1/title_bg_short.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 2.52rem;
    height: 0.42rem;
    left: 0rem;
    top: -0.26rem;
    line-height: 0.42rem;
    z-index: 1;
}
.title-big-short div{
    width:1.68rem;
    text-align: center; 
}
.double_arrow_low{
    background: url("../static/fourth_1/double_arrow_low.png") no-repeat;
    background-size: 100% 100%;
    width: 0.21rem;
    height: 0.20rem;
    display: inline-block;
}
.double_arrow_top{
    background: url("../static/fourth_1/double_arrow_top.png") no-repeat;
    background-size: 100% 100%;
    width: 0.21rem;
    height: 0.20rem;
    display: inline-block;
}
.arrow_low{
    background: url("../static/fourth_1/arrow_low.png") no-repeat;
    background-size: 100% 100%;
    width: 0.28rem;
    height: 0.25rem;
    display: inline-block;
}
.arrow_top{
    background: url("../static/fourth_1/arrow_top.png") no-repeat;
    background-size: 100% 100%;
    width: 0.28rem;
    height: 0.25rem;
    display: inline-block;
}
.c-1{
    margin-left: 0.56rem;
    position: relative;
    margin-top: 0.4rem;
    transition: all 2s;
    height: 2rem;
    display: block;
}
.c-1-1{
    position: absolute;
    width: 4.1rem;
    height: 1.56rem;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}
.c-1-2{
    position: absolute;
    width: 4.1rem;
    height: 0.4rem;
    top: 0rem;
    left: 4.6rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}
.c-1-3{
    position: absolute;
    width: 4.1rem;
    height: 0.4rem;
    top: 1.15rem;
    left: 4.6rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}
.c-1-4{
    position: absolute;
    width: 4.1rem;
    height: 0.4rem;
    top: 0rem;
    left: 9.2rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}
.c-1-5{
    position: absolute;
    width: 4.1rem;
    height: 0.4rem;
    top: 1.15rem;
    left: 9.2rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}
.c-1-6{
    position: absolute;
    width: 4.1rem;
    height: 1.56rem;
    top: 0rem;
    left: 13.8rem;
    
}
.star{
    background: url("../static/fourth_1/star.png") no-repeat;
    background-size: 100% 100%;
    width: 0.35rem;
    height: 0.37rem;
    display: inline-block;
    position: absolute;
    left: 0.6rem;
    top: 0.02rem;
}
.c-1-6 .ldgz{
    width: 4.1rem;
    height: 1.26rem;
    transition: all 2s;
    position: relative;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    overflow: hidden;
}
.c-1-6 .ldgz .tt{
    line-height: 0.3rem;
}
.dr_1{
    cursor: pointer;
    width: 4.5rem;
    position: relative;
    height: 0.2rem;
    transition: all 2s;
    line-height: 0.2rem;
    text-align: center;
    z-index: 4;
    background-color: rgba(0,210,255,0.1);
}
.c-2{
    position: relative;
    margin-left: 0.56rem;
    float: left;
    /* transition: all 2s; */
    max-height: 4.58rem;
    margin-top: 0.3rem;
    overflow: hidden;
    display: block;
}
.c-2-1{
    position: relative;
    float: left;
    width: 5.2rem;
    height: 6rem;
    margin-top: 0.4rem;
}
.c-2-1 .t{
    font-size: 0.36rem;
    font-weight: bold;
    display: block;
    float: left;
}
.c-2-1 .b{
    color: #00d2ff;
    display: block;
    line-height: 0.25rem;
}
.c-2-1 .a{
    display: block;
    float: left;
    width: 4.4rem;
    margin-left: 0.15rem;
    margin-top: 0.08rem;
    line-height: 0.3rem;
}
.c-2-1-1{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-1-2{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-1-3{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-1-4{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-2{
    position: relative;
    float: left;
    width: 2.61rem;
    margin-left: 0.03rem;
    height: 6rem;
    margin-top: 0.4rem;
}
.c-2-2-1{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 2.21rem;
    overflow: hidden;
}
.c-2-2-2{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: 1.1rem;
    width: 2.21rem;
    overflow: hidden;
}
.c-2-2-3{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 1.1rem;
    width: 2.21rem;
    overflow: hidden;
}
.c-2-2-4{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 1.1rem;
    width: 2.21rem;
    overflow: hidden;
}
.ship-b{
    background: url("../static/fourth_1/blue.png") no-repeat;
    background-size: 100% 100%;
    width: 2.29rem;
    height: 0.94rem;
}
.ship-y{
    background: url("../static/fourth_1/yellow.png") no-repeat;
    background-size: 100% 100%;
    width: 2.07rem;
    height: 0.78rem;
    margin-top: 0.22rem;
}
.ship-r{
    background: url("../static/fourth_1/red.png") no-repeat;
    background-size: 100% 100%;
    width: 2.07rem;
    height: 0.78rem;
    margin-top: 0.22rem;
}
.c-2-3{
    position: relative;
    float: left;
    width: 5.2rem;
    margin-left: 0.03rem;
    height: 6rem;
    margin-top: 0.4rem;
}
.c-2-3-1{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-3-2{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-3-3{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-3-4{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-4{
    position: relative;
    float: left;
    width: 5.2rem;
    margin-left: 0.03rem;
    height: 6rem;
    margin-top: 0.4rem;
}
.c-2-4-1{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-4-2{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 1.5rem;
    transition: all 1s;
    left: 0;
    height: 1.2rem;
    width: 4.8rem;
    padding-bottom: 0rem;
}
.c-2-4-2>div:first-child{
    position: relative;
    height: 1rem;
    overflow: hidden;
    transition: all 1s;
}
.dr_2{
    cursor: pointer;
    width: 4.8rem;
    position: relative;
    height: 0.2rem;
    transition: all 1s;
    line-height: 0.2rem;
    text-align: center;
    z-index: 4;
}
.c-2-4-3{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.c-2-4-4{
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 1.1rem;
    width: 4.8rem;
    overflow: hidden;
}
.bg-color-1{
    background-color: rgba(0,210,255,0.1);
}
.bg-color-2{
    background-color: rgba(255,255,0,0.1);
}
.bg-color-3{
    background-color: rgba(197,27,0,0.1);
}
.zhankai{
    width: 100%;
    float: left;
    height: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    color: #00d2ff;
    cursor: pointer;
}
.zhankai div{margin-right: 0.2rem;}
.c-3{
    position: relative;
    margin-left: 0.56rem;
    float: left;
    transition: all 2s;
    display: block;
    /* margin-top: 0.2rem; */
    margin-top: 0.7rem;
    width: 100%;
}
.c-3-1{
    position: absolute;
    width: 17.9rem;
    height: 0.65rem;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0,210,255,0.1);
    padding: 0.3rem 0.2rem 0.1rem 0.2rem;
}

.bottom{
    position: absolute;
    left: 9.2rem;
    bottom: 0.2rem;
    background: url("../static/index/logo.png") no-repeat;   
    background-size: 100% 100%;
    width: 3.2rem;
    height: 0.46rem;


}
