body{  
    background: url("../static/third_2/bg.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.content{
    position: relative;
}
.content-all{
    width: 100%;
    height: 100%;
    position: relative;
}
.content-1{
    background: url('../static/third_2/r-1.png') no-repeat;
    background-size: 100% 100%;
}
.content-2{
    background: url('../static/third_2/r-2.png') no-repeat;
    background-size: 100% 100%;
}
.content-3{
    background: url('../static/third_2/r-3.png') no-repeat;
    background-size: 100% 100%;
}
.content-4{
    background: url('../static/third_2/r-4.png') no-repeat;
    background-size: 100% 100%;
}
.content-5{
    background: url('../static/third_2/r-5.png') no-repeat;
    background-size: 100% 100%;
}
.head{
    height: 1.18rem;/*218*/
    width: 21.6rem;
    margin: 0;
    padding:  0; 
    position: relative;

}
.head .title{
    font-size: 0rem;
    color: #0075a9;
    background: url('../static/third_2/top.png') no-repeat;
    background-size: 100% 100%;
    height: 1.18rem;
    width: 8.2rem;
    text-align: center;
    margin: 0 auto;
}
.head .back{   
    cursor:pointer;
    position: absolute;
    left: 1.22rem;
    top: 0.09rem;
    height: 0.82rem;
    line-height: 0.82rem;
    width: 1.8rem;
}
.head .back-img{
    display: inline-block;
    background: url("../static/second/backbutton_normal.png") no-repeat;
    background-size: 100% 100%;
    width: 0.79rem;
    height: 0.79rem;
}
.head .back-text,.head .close-text{
    display: inline-block;
    color: #66d5ff;
    font-size: 0.32rem;
    font-weight: bold;
}
.head .back-text{ 
    margin-left: 0.12rem;
}
.head .close{
    cursor:pointer;
    position: absolute;
    right: 1.22rem;
    top: 0.09rem;
    height: 0.82rem;
    line-height: 0.82rem;
    width: 1.8rem;
}
.head .close-img{
    display: inline-block;
    background: url("../static/second/closebutton_normal.png") no-repeat;
    background-size: 100% 100%;
    width: 0.78rem;
    height: 0.82rem;
}
.head .close-text{
    margin-right: 0.12rem;
}
.middle1{
    height: 6.39rem;
    width: 11.87rem;
    float: right;
    background: url("../static/third_2/Major_project control_bg.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 1.29rem;
    margin-top: 1.4rem;
    padding:  0rem;
    position: relative;
}
.middle1 .h{
    position: absolute;
    font-size: 0.39rem;
    color: #ffffff;
    font-weight: bold;
    right: 0.66rem;
    top: 0.15rem;
    display: none;
}
.h1{
    display: inline-block;
}
.h1{
    letter-spacing: 0.2rem;
}
.h3,.h4,.h5{
    letter-spacing: 0.01rem;
}
.middle1 .text{
    position: absolute;
    font-size: 0.4rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    bottom: 0.62rem;
    letter-spacing: 0.01rem;
    width: 11.87rem;
}
.middle1 .text .t1{
    margin-right: 0.04rem;
}
.middle1 .dial-plate{
    position: absolute;
    background: url("../static/third_2/dial plate.png") no-repeat;
    background-size: 100% 100%;
    width: 7.28rem;
    height: 6.56rem;
    top: 1.33rem;
    right: 2.13rem;
}
.middle1 .pointer{
    position: absolute;
    background: url("../static/third_2/pointer.png") no-repeat;
    background-size: 100% 100%;
    width: 1.14rem;
    height: 1.40rem;
    bottom: 1.62rem;
    right: 5.78rem;
}
.middle1 .pointer
{
transform:rotate(-52deg);
-ms-transform:rotate(-52deg);     /* IE 9 */
-moz-transform:rotate(-52deg);    /* Firefox */
-webkit-transform:rotate(-52deg); /* Safari 和 Chrome */
-o-transform:rotate(-52deg);  /* Opera */
transform-origin:right bottom;
-ms-transform-origin:right bottom;     /* IE 9 */
-moz-transform-origin:right bottom;    /* Firefox */
-webkit-transform-origin:right bottom; /* Safari 和 Chrome */
-o-transform-origin:right bottom;  /* Opera */
}
.middle1 .baifenbi-all{
    position: absolute;
    font-size: 0.4rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    top: 3.3rem;
    left: 5rem;
    /* letter-spacing: 0.01rem; */
    width: 2rem;
}
.middle1 .icon{
    position: absolute;
    height: 0.85rem;
    width: 2.55rem;
    left: 4.8rem;
    bottom: 1.2rem;
}
.middle1 .icon > div{
    float: left;
}
.icon-b-l{
    background: url("../static/third_2/icon_green.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: inline-block;
}
.icon-y-l{
    background: url("../static/third_2/icon_yellow.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: inline-block;
}
.icon-r-l{
    background: url("../static/third_2/icon_red.png") no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.175rem;
    display: inline-block;
}
.icon-b-b{
    background: url("../static/third_2/icon_green_big.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: none;
}
.icon-y-b{
    background: url("../static/third_2/icon_yellow_big.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: none;
}
.icon-r-b{
    background: url("../static/third_2/icon_red_big.png") no-repeat;
    background-size: 100% 100%;
    width: 0.85rem;
    height: 0.85rem;
    margin: 0rem;
    display: none;
}
.middle2{
    height: 3.16rem;
    width: 17.38rem;
    position: relative;
    float: right;
    margin-right: 1.29rem;
}
.middle2 .c{
    float: right;
    display: none;
}
.middle2 .c > div{
    height: 1.48rem;
    margin-bottom: 0.2rem;
}
.middle2 .c1{
    width: 5.86rem;
}
.middle2 .c2{
    width: 5.86rem;
}
.middle2 .c3{
    width: 11.72rem;
}
.middle2 .c4{
    width: 11.72rem;
}
.middle2 .c5{
    width: 17.58rem;
}
.middle2 .c6{
    width: 17.58rem;
}
.button{
    cursor:pointer;
    text-align: center;
    width: 5.66rem;
    height: 1.48rem;
    text-align: left;  
    line-height: 0.58rem;
    display: inline-block;
    margin-left: 0.2rem;
    position: relative;
    font-size: 0.28rem;
    color: #ffffff;
}
.xuhao{
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 0.45rem;
    line-height: 0.45rem;
    width: 1.29rem;
    text-align: center;
}
.wenzi{
    position: absolute;
    top: 0.2rem;
    left: 0.6rem;
    width: 3.8rem;
    height: 0.6rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.jindutiao{
    position: absolute;
    top: 0.85rem;
    left: 0.6rem;
    width: 3.2rem;
    height: 0.2rem;
    background-color: #d0d0d0;
    border-radius: 0.5rem;
    opacity:0.2;
}
.jindutiao2{
    position: absolute;
    top: 0.85rem;
    left: 0.6rem;
    width: 0rem;
    height: 0.2rem;
    background-color: #60c3d2;
    border-radius: 0.5rem;
}
.baifenbi{
    position: absolute;
    top: 0.82rem;
    left: 4rem;
    height: 0.3rem;
    line-height: 0.3rem;
}
.button-blue{
    background: url("../static/third_2/bg_green.png") no-repeat;   
    background-size: 100% 100%;
}
.button-blue:hover{
    background: url("../static/third_2/bg_green_selected.png") no-repeat;   
    background-size: 100% 100%;
    padding: 0rem 0.06rem 0.14rem 0.06rem;
    margin: 0rem -0.06rem -0.14rem 0.14rem;
}
.button-yellow{
    background: url("../static/third_2/bg_yellow.png") no-repeat;
    background-size: 100% 100%;
}
.button-yellow:hover{
    background: url("../static/third_2/bg_yellow_selected.png") no-repeat;   
    background-size: 100% 100%;
    padding: 0rem 0.06rem 0.14rem 0.06rem;
    margin: 0rem -0.06rem -0.14rem 0.14rem;
}
.button-red{
    background: url("../static/third_2/bg_red.png") no-repeat;
    background-size: 100% 100%;
}
.button-red:hover{
    background: url("../static/third_2/bg_red_selected.png") no-repeat;   
    background-size: 100% 100%;
    padding: 0rem 0.06rem 0.14rem 0.06rem;
    margin: 0rem -0.06rem -0.14rem 0.14rem;
}
.font-2{
    font-size: 0.24rem;
    color: #00deff;
    width: 0.24rem;
    line-height: 0.26rem;
}
.font-3{
    font-size: 0.24rem;
    color: #ffffff;
    font-weight: bold;
}
.font-4{
    font-size: 0.22rem;
    color: #03004c;
    font-weight: bold;/* 
    -webkit-transform: scale(0.8);
    transform: scale(0.8); */
}
.font-5{
    font-size: 0.22rem;
    color: #ffffff;
    font-weight: bold;
}

.bottom{
    position: absolute;
    left: 9.2rem;
    bottom: 0.2rem;
    background: url("../static/index/logo.png") no-repeat;   
    background-size: 100% 100%;
    width: 3.2rem;
    height: 0.46rem;


}
